/* 
    Document   : minimalista
    Created on : May 24, 2011, 2:05:57 PM
    Author     : lfbl
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body,html {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.4em;
    color: #38353d
}
a {
    color: #008000;
}
/* Table */
th {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    padding-right: 5px;
    background-color: #98AAB1;
}
td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-right: 5px;
    background-color: #e9ecf2;
    text-align: left;
}

.userInfoTable td{
    text-align: center;
}
/* style form */
form dt {
    width: 100px;
    display: block;
    margin-bottom: 4px;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    margin-bottom: 4px;
    float: left;
}
form #submitbutton {
    margin-left: 100px;
}

html,body{
    margin:0px;
    padding:0px;
}

#bg {
    float: none;
    width: 1600px;
    height: 900px;
    /* border: 1px solid red; */

    position: relative;
}

#pagina {
    width: 1000px;
    height: auto;
    /* border: 1px solid blue; */
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#content{
    /* border: 1px solid green; */
    width: 500px;
    height: 100%;
}

#logoLogin {
    float: right;
    margin: 0px auto;
}

#usuario {
    margin: 0px auto;
    width: 290px;
    height: 45px;
    float: right;
    /* border: 1px solid #0f140f;*/
}

#usuario a, p{   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #443629;
}

#usuario button{
    width: 45px;
    height: 30px;
    text-align: center;
}
#header {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    /* border: 1px #dd1797; */
}
#header h1{
    float: none;
    text-align: center;
}
#menu {
    background-image: url("/images/menubg.gif");
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    float: left;
    width: 1000px;
    height: 60px;
    /* border: 1px solid #98AAB1;*/
}

#menu ul {
    margin: 0;
    padding: 2px 0px 0px 5px;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    display: block;
    float: left;
    margin-right: 3px;
    padding: 13px 25px 2px 25px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #443629;
}

#menu a:hover {
    background-color: #cad6d6;
    text-decoration: underline;

}

#menu .current_page_item a {
    height: 26px;
    background: #eee6c5 url(/images/img02.jpg) repeat-x left top;
    color: #443629;
}

#menu .first {
    background: none;
}

#login {

    float: none;   
    width: 300px;
    height: 120px;
    margin-top: 200px;
    margin-left: 200px;    
}

#login span{
    color: #BC1320;
}

#requisito{

    float: none;
    width: 800px;
    height: auto;
    /* border: 1px solid red; */
    margin: 0px auto;
}
#userInfo{
    float: none;
    width: 800px;
    height: auto;
    /* border: 1px solid red; */
    margin: 0px auto;

}

#userinfo th,td{
    text-align: center;
}

#atividades{

	float: none;
	width: auto;
	height: auto;
	border: 1px solid red;
}

